recursive-include server *
recursive-include docs *
include *.txt
include *.rst
include *.ini
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__/*
include *.js
include *.json
include LICENSE
recursive-include client *
recursive-include static *
